div> .dropdown-toggle{
    display:inline-block;
    float:right; 
}

div a#dropdownMenuLink.btn.btn-outline-light.dropdown-toggle, div.show> a#dropdownMenuLink.btn.btn-outline-light.dropdown-toggle, div .show>.btn-outline-light.dropdown-toggle {
    color: gray;
    background-color: white;
    border-color: white; 
    box-shadow: none;
    padding: 0;
}

div a#dropdownMenuLink.btn.btn-outline-light.dropdown-toggle::after{
    visibility: hidden;
}

h4.card-title{
    display:inline;
}

div.dropdown.show{
    display:inline;
}

ul>li i{
    float:left;
    padding-right: 20px;
}

ul>li h6.patient{
    padding-left: 0px;
    text-align: left;

}

ul>li h6.therapist{
    text-align: right;
    padding-right: 0px;
}

ul>li p{
    padding-top: 20px;
}
h4#username{
    margin-bottom: 0px;
}



/* Dashboard area */
.dashboardarea{
    height:90vh; 
    padding-top:25px; 
    margin-bottom: 500px;
}

/* List of Clients */
.listitemcus{
    margin-left: 10px;
}

/* Therapist Card */
.communitycard{
    margin-top: 25px;
}

/* Conversation Header Bar */
.conversationhead .card-title{
    padding-top: 20px;
}

.conversationhead .card-link{
    padding-left: 25px;
}

.conversationhead input{
    width: 300px;
}

.conversationarea{
    padding-top: 50px; 
    padding-bottom: 25px;
    height: 775px;
    max-height: 775px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.conversationarea .client{
    background-color: #6DBBFF;
}

.conversationarea .client i{
    margin-left: 10px; 
    color: white;
}

.conversationarea .therapist i.fa-check-square-o, .responsearea i.fa-check-square-o, .communityresponsearea i.fa-check-square-o{
    margin-left: 10px; 
    color: gray;
}

.conversationarea .therapist i.fa-smile-o, .responsearea i.fa-smile-o, .communityresponsearea i.fa-smile-o{
    margin-left: 10px; 
    color: green;
}

.conversationarea .therapist i.fa-meh-o, .responsearea i.fa-meh-o, .communityresponsearea i.fa-meh-o{
    margin-left: 10px; 
    color: orange;
}

.conversationarea .therapist i.fa-frown-o, .responsearea i.fa-frown-o, .communityresponsearea i.fa-frown-o{
    margin-left: 10px; 
    /*margin-right: 10px;*/ 
    color: red;
}

.conversationarea .therapist i.fa-thumbs-o-down, .responsearea i.fa-thumbs-o-down, .communityresponsearea i.fa-thumbs-o-down{
    margin-left: 10px; 
    margin-right: 10px; 
    color: red;
}

.conversationarea .therapist i.fa-thumbs-o-up, .responsearea i.fa-thumbs-o-up, .communityresponsearea i.fa-thumbs-o-up{
    margin-left: 10px; 
    color: green;
}

.conversationarea .therapist .helpfulratingitem{
    color: green;
}

.conversationarea .therapist .nothelpfulratingitem{
    color: red;
}

.communityresponsearea i.fa-pencil-square-o{
    color: #007bff;
}

.conversationfooter{
    padding-top: 25px;
}

.conversationarea .list-group-flush li.bg-fadedcus{
    background-color: #F8F8F8;
}


/* Response Area */
.responsearea{
    margin-top: 25px; 
    margin-bottom: 25px;
}

.responsearea ol.carousel-indicators{
    bottom:-25%;
}

.responsearea ol.carousel-indicators li{
    background-color:lightgray;
}

.responsearea .carousel-inner{
    margin-bottom:50px;
}

.responsearea .carousel-control-prev, .responsearea .carousel-control-next{
    color: gray;
}

.responsearea .carousel-item .card{
    margin-left:100px;
    margin-right:100px;
}

/* Demographic Area */
.demographicarea .card-title{
    padding-top: 20px;
}

.demographicarea .list-group-item{
    padding-top: 5px; 
    padding-bottom: 5px;
}

/* Consultation Area */
.consultationarea{
    margin-top:25px;
}

.consultationarea .card-title{
    padding-top: 20px;
}

.consultationarea .list-group-item{
    padding-top: 5px; 
    padding-bottom: 5px;
}

.consultationarea .list-group-item .card{
    padding: 10px; 
    height: 300px;
}

/* Communmity Responses */
.communityresponsearea{
    margin-top:25px;
}

/* Analytics Area */
.analyticsarea{
    margin-top:25px;
}

/* Resources Area */
.resourcesarea{
    margin-top:25px;
}

.resourcesarea .card-title{
    padding-top: 20px;
}

.resourcesarea .list-group-item{
    padding-top: 5px; 
    padding-bottom: 5px;
}

/* Chat Window Area */
.chatwindowarea{
    position:fixed; 
    left:50px; 
    bottom:50px; 
    width: 400px; 
    z-index: 999; 
    background-color: #F7F8FC;
}

.chatwindowarea .card-title{
    padding-top: 20px;
}

.chatwindowarea .card-title span{
    color: #636365;
}

.chatwindowarea .list-group-item{
    padding-top: 5px; 
    padding-bottom: 5px;
}

.chatwindowarea .list-group-item .card{
    padding: 10px; 
    height: 300px;
}

/* Direct Message Window */
#clickCloseDM i.fa{
    color: gray;
}

/* Graphs */

#chart1_div, #chart2_div, #chart3_div, #chart4_div, #chart5_div, #chart6_div{
    z-index: 999;
}